.schedule-container {
    padding: 2rem;
    max-width: 1000px;
    margin: 80px auto 20px auto; 
  }
  
  iframe {
    margin-top: 1rem;
    border: 1px solid #ccc;
  }
  
  .btn-back {
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #FD9C35;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.2s;
  }
  
  .btn-back:hover {
    background-color: #e4b030;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
  }