
<div class="signup-page">
    <div class="signup-form">
      <h2>Sign up</h2>
  
      <label>
        <span>Full Name</span>
        <input formControlName="fullName" type="text" placeholder="Enter your full name" />
      </label>
      <label>
        <span>Email</span>
        <input formControlName="email" type="email" placeholder="Enter your Email" />
      </label>
      <label>
        <span>Password</span>
        <input formControlName="password" type="password" placeholder="Enter your Password" />
      </label>
      <label>
        <span>Confirm Password</span>
        <input formControlName="confirmPassword" type="password" placeholder="Confirm your password" />
        <div *ngIf="signUpForm.errors?.['mismatch'] && confirm?.touched" class="error">
          Passwords do not match
        </div>
      </label>
  
      <button class="btn-primary" (click)="onSubmit()">Sign up</button>
    </div>
  
    <div class="signup-side-image">
      <img src="o6u.png" alt="o6u" />
    </div>
  </div>
  